main {
  
height: 100vh;
width: 100vw;

}

nav  {
    display: inline-block;
    height: 5vh;
    width: 100vw;
    background-color: grey;
    color: white;
    list-style-type: none;

}

ul {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    color: red;
    justify-content: center;

    
}
 

}
.company {
   display: inline-block; 
    color: white;
    height: 6vh;
    width: 25vw;
    text-align: center;
    vertical-align: middle;
    margin-top: 3px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;

}

h1 {
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 100vw;
    background-color: black;

}

.know {
 
    color: yellow;
    font: 100px;
    height: 25vh;
    width: 100vw;
    margin: auto;



}
